{% extends "::base.html.twig" %}

{% block title %}Wiew for exercise 5{% endblock %}

{% block body %}
    <h1>Witaj w widoku dla ćwiczenia 5.</h1>
    <p>
        Zmienna przesłana z kontrolera to: {{ username }}
    </p>
{% endblock %}
