{% extends "::base.html.twig" %}

{% block title %}Witaj w widoku dla zadania B1{% endblock %}

{% block body %}
    <h1>Zadanie B3</h1>
    {% for i in 1..n %}
        <p>
            Symfony jest fajne.
        </p>
    {% endfor %}

{% endblock %}
