{% extends "::base.html.twig" %}

{% block title %}Witaj w widoku dla zadania A3{% endblock %}

{% block body %}
    <h1>Witaj w widoku dla zadania A3</h1>
    <p>
        Widok znajduje się tutaj: {{ _self.getTemplateName() }}
    </p>
{% endblock %}
