{% extends "::base.html.twig" %}

{% block title %}Witaj w widoku dla zadania B1{% endblock %}

{% block body %}
    <h1>Witaj w widoku dla zadania B1</h1>
    <p>
        Zmienna przesłana z kontrolera to: {{ username }}
    </p>
{% endblock %}
