{% extends "::base.html.twig" %}

{% block title %}View for exercise 3{% endblock %}

{% block body %}
    <h1>Witaj w widoku dla zadania 3.</h1>
    <p>
        Widok znajduje się tutaj: {{ _self.getTemplateName() }}
    </p>
{% endblock %}
