{% extends "::base.html.twig" %}

{% block title %}View for exercise 4{% endblock %}

{% block body %}
    <h1>Witaj w widoku dla zadania 4.</h1>
    <p>
        Zmienna przesłana z kontrolera to: {{ username }}
    </p>
{% endblock %}
