{% extends "::base.html.twig" %}
{% block body %}
    <h1>zapisano </h1>
    {{ book.id }} <br/>
    {{ book.description }} <br/>
    {{ book.title }} <br/>
    {{ book.rating }} <br/>
    {% endblock %}
